<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.capstone_design">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.Tutorial.SplashActivity"/>
        <activity android:name=".AddActivity" />
        <activity android:name=".Setting" />
        <activity android:name=".Setting_name" />
        <activity android:name=".EditActivity" />
        <activity
            android:name=".TouchInput"
            android:theme="@style/Theme.Transparent" />

        <activity
            android:name="com.example.Tutorial.Tutorial"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <service
            android:name="com.example.TouchService.Touch_In"
            android:enabled="true"
            android:exported="true"
            android:label="@string/permission"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">

        <intent-filter>
            <action android:name="android.accessibilityservice.AccessibilityService" />
        </intent-filter>

        <meta-data
            android:name="android.accessibilityservice"
            android:resource="@xml/accessibility_config" />
        </service>


        <service
            android:name=".FloatingViewService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.SYSTEM_ALERT_WINDOW" />

    </application>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

</manifest>